<h1>Recipes</h1>

<ul>
    <% @recipes.each do |recipe| %>
    <li>
        <%= link_to recipe['title'], recipe_path(recipe['id']) %>
        <% if recipe['image_url'].present? %>
        <%= image_tag recipe['image_url'] %>
        <% end %>
    </li>
    <% end %>
</ul>
