<h1><%= @recipe['title'] %></h1>
<% if @recipe['image_url'].present? %>
  <%= image_tag @recipe['image_url'] %>
<% end %>
<p><b>Description</b></p>
<p><%= @recipe['description'] %></p>
<p><b>Total Calories</b></p>
<p><%= @recipe['calories'] %></p>
<%= link_to 'Back to Recipes List', recipes_path, class: 'btn btn-primary' %>
